ul.transition-list {
	position: relative;

	list-style: none;

	padding: 0 0;
	margin: 0 0;

	height: 100%;
	width: 100%;
}

	ul.transition-list li {
		/* the transition items all start with 0 opacity */
		opacity: 1;

		position: absolute;
		top: 0;
		left: 0;
	}